.about-section {
  /* height: 600px; */
  width: 100%;
  background-image: url("../../images/Banner&Background/background.jpg");
  /* height:600px;
   width: 100%; */
  /* border: 1px solid red; */
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 30px;
}
